<table class="min-w-full divide-y divide-gray-200">
  <thead class="bg-gray-50">
  <tr>
    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Data</th>
    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Atendente</th>
    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nota</th>
    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Comentário</th>
  </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200">
  <% evaluations.each do |evaluation| %>
    <tr>
      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
        <%= evaluation.evaluation_date.strftime("%d/%m/%Y") %>
      </td>
      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
        <%= evaluation.attendant.name %>
      </td>
      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
        <%= evaluation.score %>
      </td>
      <td class="px-6 py-4 text-sm text-gray-500">
        <%= evaluation.comment %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>